 <!--footer-copy-right -->
<footer class="bottem-wthree-footer text-center py-md-4 py-3">
    <p>
        © 2019 Organic Store. All Rights Reserved | Design by
        <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a>
    </p>
</footer>
<!--//footer-copy-right --></div><!-- /#page -->