 <!-- header -->
<div class="headder-top editContent">
    <!-- nav -->
    <nav>
        <div id="logo">
            <h1>
                <a href="index.html" class="editContent medium-editor-placeholder"><p><br></p></a>
            </h1>
        </div>
        <div class="sub-headder position-relative">
            <h6>
                <a href="index.html" class="editContent medium-editor-placeholder" style="outline: none; outline-offset: -2px; cursor: inherit;"><p><br></p></a>
            </h6>
        </div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop">
        <ul class="menu mt-2">
            <li class="active">
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#service">Services</a>
            </li>
            <li>
                <!-- First Tier Drop Down -->
                <!--<label for="drop-2" class="toggle toogle-2">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
                  </label>
                  <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                  <input type="checkbox" id="drop-2">
                  <ul>
                    <li><a href="gallery.html" class="drop-text">Gallery</a></li>
                    <li><a href="menu.html" class="drop-text">Menu</a></li>
                    <li><a href="recipe.html" class="drop-text">Recipes</a></li>
                  </ul>
                </li>-->
            </li>
            <li>
                <a href="#gallery">Gallery</a>
            </li>
            <li>
                <a href="#blog">Blog</a>
            </li>
            <li>
                <a href="#contact">Contact Us</a>
            </li>
        </ul>
    </nav>
    <!-- //nav -->
</div>
<!-- //header -->